<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Silkstream</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>

<body>
    <div class="server-list">


        <img class="server-button" src="{{ url_for('static', filename='generated/server_icons/server-img.jpeg') }}">
        <img class="server-button">
        <img class="server-button">

    </div>

</body>

</html>